- arr = [1, 2, 3]
p=arr.filter(nombre => nombre & 1).join(', ')
p=arr.indexOf(2)
p=arr.slice(1).join('/')
p=arr.reverse().join(', ')

- arr = [1, 2, 3]
p=arr.splice(1, 2).join(', ')

- arr = [1, 2, 3]
p=arr.reduce((i, n) => i + n)
p=arr.map(n => n * 2).join(', ')
- arr.forEach(function (num) {
div=num
- })